numpy
jax[cpu]
torch @ https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp310-cp310-linux_x86_64.whl
openai==0.28.1
tiktoken
tqdm
matplotlib
pandas<2.0.0
darts
gpytorch
transformers
datasets
multiprocess
SentencePiece
accelerate
gdown
dash
plotly
jupyter
mistralai
seaborn
